.carousel-container {
  position: relative;
  width: 100%;
  max-width: 90%; /* Limita a largura do carrossel */
  margin: 0 auto;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  z-index: 1; /* Mantém as setas acima dos cards */
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-color: #096E5F; /* Cor das setas */
  border-radius: 50%;
}

.card-container {
  flex: 0 0 30%; /* Ajusta a largura do card */
  padding: 10px;
}

.card {
  height: 250px; 
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  max-width: none; /* Garante que não tenha uma largura máxima definida */
}



.card-body {
  padding: 20px;
  flex: 1;
  display: flex; /* Adiciona flexbox ao card-body */
  flex-direction: column; /* Direciona o conteúdo na coluna */
  justify-content: space-between; /* Espaça o conteúdo ao longo do eixo vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.card .btn {
  margin-top: auto; /* Mantém o botão na parte inferior do card */
  border-radius: 12px;
  font-weight: bold;
  width: auto; /* Permite que o botão ocupe apenas o espaço necessário */
  padding: 10px 20px; /* Ajusta o preenchimento do botão */
  max-width: 150px; /* Limita a largura máxima do botão se desejar */
  text-align: center; /* Centraliza o texto dentro do botão */
}


.card:hover {
  transform: scale(1.05);
}
