.sidebar {
  width: 80px; 
  height: 100vh; 
  background-color: #096E5F; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  transition: width 0.3s ease; 
}

.sidebar.expanded {
  width: 250px;
}

.nav {
  display: flex; 
  flex-direction: column; 
  flex-grow: 1; 
  justify-content: center; 
}

.nav-link {
  font-size: 1rem; 
  margin: 10px 0; 
  white-space: nowrap; 
  transition: border-bottom 0.3s ease; 
  width: 100%; 
  text-align: center; 
}


.active-link {
  border-bottom: 2px solid white; 
}

.logout-button {
  margin-top: auto; 
  margin-bottom: 20px; 
}

.navbar-toggle {
  font-size: 1.5rem; 
  border: none; 
  background-color: transparent; 
  color: white; 
  margin-bottom: 10px; 
}

.logout-button {
  margin-top: 10px; 
}

.navbar-toggle:hover {
  cursor: pointer; 
}
