body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #009B84, #B0D5CD);
    font-family: Poppins, sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 600px;
}

#titulo {
    text-align: center;
    color: white; 
    font-size: 2em;
    margin-bottom: 40px; 
}

.input1 {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #F0F0F0;
    font-size: 16px;
    outline: none;
    color: #569A90;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.input-group {
    display: flex;
    gap: 20px; 
    margin-bottom: 10px; 
}

.input-group:first-of-type input:nth-child(1) {
    flex: 3; 
}

.input-group:first-of-type input:nth-child(2) {
    flex: 2; 
}

.input-group:nth-of-type(2) input:nth-child(1) {
    flex: 1; 
}

.input-group:nth-of-type(2) input:nth-child(2) {
    flex: 3; 
}

.input-group:nth-of-type(3) input:nth-child(1) {
    flex: 3; 
}

.input-group:nth-of-type(3) input:nth-child(2) {
    flex: 2; 
}


.text {
    color: white; 
    font-weight: bold;
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.input2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    border: 2px solid white; 
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.input2:checked {
    background-color: white; 
    border-color: white;
}

.input2:checked::after {
    content: "✔";
    color: #569A90; 
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.botão1 {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: #096E5F; 
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.botão1:hover {
    background-color: #0a7e63;
}
