html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: white; /* Fundo branco */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* remove a barra de rolagem */
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.div1 { /*Parte esquerda da tela com o login */
    display: flex;
    flex-direction: column;
    align-items: center; /*Alinha os componentes à esquerda */
    justify-content: center;
    width: 40%; /* Tamanho da div da esquerda */
    padding: 5%;
    box-sizing: border-box;
}

.div2 { /* Parte direita só com imagem */
    max-width: 60%;
    padding: 0;
} 

.liimg {
    max-width: 71.5%;
    object-fit: contain;
    padding: 0;
    width: 900px;
    height: auto;
    padding: 2px;
}

.logo{
margin: 0;
padding: 0;
}

#titulo {
    color: #0E3B35; /* Cor do título */
    font-size: 3.5em; /* Tamanho do título */
    padding: 0;
    margin-top: 0;
}

.input1 { /* caixa de texto de email e senha só da tela de login */
    border-radius: 10px; 
    margin-bottom: 20px;
}

.input2 { /*botão lembrar de mim*/
    margin-right: 15px;
    color: #096e5f;
}

.checkbox-container {
    display: flex;
    justify-content: space-between; /* Espaço entre os textos */
    width: 400px; /* Mesma largura dos inputs */
    margin: 6px 0; /* Margem acima e abaixo */
}

#text {
    color: #096E5F; /* Texto "Lembre-se de mim" na cor verde escuro */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ref1 {
    color: #096e5f; /* Texto "Esqueceu sua senha?" */
    font-size: 18px; /* Aumenta o tamanho da fonte */
}

.ref1:hover {
    text-decoration: underline;
}

.botão1 {
    background-color: #096E5F; /* Verde escuro */ 
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin: 6px 0;
    
}

.botão1:hover {
    background-color: #0a7e63;
}


